{% extends "layout.html" %}

{% from "panel/macro.njk" import govukPanel %}
{% from "review.njk" import review %}
{% from "navigation.njk" import navigationHeaderBlock %}
{% from "button/macro.njk" import govukButton %}
{% from "format-page-title.njk" import formatPageTitle %}

{% block header %}
    {% if fmt %}
        {{ navigationHeaderBlock() }}
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% set title = "Your " + year + " fishing return has been submitted"%}
{% block pageTitle %}{{ formatPageTitle(title) }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full no-print-area">

        {{ govukPanel({
            titleText: title
        }) }}

        <p class="govuk-body-m govuk-!-margin-top-7">
            <a id="print-link" class="govuk-link govuk-body-m" href="#" onclick="window.print();return false;">Print your confirmation</a>
        </p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body-m">Thank you for submitting your fishing return for {{ year }}. No further action is required. The data submitted by anglers helps the Environment Agency monitor, assess and manage the number of fish in the rivers.</p>
        <p class="govuk-body-m"> The information provided supports <a class="govuk-link" href="https://www.gov.uk/government/collections/salmonid-and-freshwater-fisheries-statistics-reports-and-supplementary-data-tables">catch statistics</a>.</p>

        <h2 class="govuk-heading-m">Feedback</h2>

        <p class="govuk-body-m">Give us your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/QQJ22/" target="_blank" rel="noreferrer noopener">feedback (opens in a new tab)</a> to help us improve this service. You can also use this form to tell us anything else about your fishing activity this year.</p>

        {% if fmt %}
            {{ govukButton({
              text: "Start a new catch return",
              href: "/licence",
              classes: "govuk-button--start"
            }) }}
        {% endif %}

        {{ extra() }}
    </div>


    <div class="govuk-grid-column-full print-area">
        <h1 class="govuk-heading-m no-print-area">{{ title }}</h1>
        {{ review(activities, catches, smallCatches, locked, year, fmt, reportingExclude, foundInternal) }}
    </div>
</div>
{% endblock %}
