COOKIE_PW=11111111111111111111111111111111
AUTH_PW=1234567890123456
GA_TAG_MANAGER=GTM-AAAAAAA
GA_TRACKING_ID=UA-111111111-1

# Endpoint of tenant
MSAL_ENDPOINT=<insert here>

# Client ID and secret
MSAL_CLIENT_ID=<insert here>
MSAL_CLIENT_SECRET=<insert here>

# Hostname to redirect back to after authentication
MSAL_REDIRECT_URI=<insert here>
